<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/fragments/head :: header"><title>Group Add/Remove Student</title></head>

<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <div class="input-group row">
                        <div class="col-4 mr-auto"></div>
                        <div class="col-auto">
                            <form>
                                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                    <a id="batchCreateLink" class="btn bg-dark text-light mb-1"
                                       th:href="@{/groups/groupList}"><i class="fa fa-list mr-1"></i>
                                        Group List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <header class="panel-heading">
                        <h2 class="panel-title">Add/Remove Student</h2>
                    </header>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <form class="needs-validation" novalidate
                                                      th:action="@{/groups/selectedBatchStudents}"
                                                      th:method="post" th:object="${batch}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="batches">Select Batch</label>
                                                                    <select id="batches" class="form-control"
                                                                            required="required" th:field="*{id}">
                                                                        <option th:each="batch:${batches}"
                                                                                th:value="${batch.id}"
                                                                                th:text="${batch.name}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="batches">Show Students</label>
                                                                    <button class="btn btn-info mb-2 mb-sm-0 mr-sm-2"
                                                                            type="submit">Show Students
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <form class="needs-validation" novalidate
                                                      th:action="@{/groups/assignToGroup}"
                                                      th:method="post" th:object="${newStudent}">
                                                    <div class="panel-body">
                                                        <div class="users-list-table">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="card">
                                                                        <div class="card-content fw-container">
                                                                            <div class="card-body fw-body">
                                                                                <div class="table-responsive content demo-html">
                                                                                    <table id="example"
                                                                                           class="table table-striped table-bordered file-export"
                                                                                           style="width:100%">
                                                                                        <thead>
                                                                                        <tr>
                                                                                            <th scope="col">Name</th>
                                                                                            <th scope="col">Country</th>
                                                                                            <th scope="col">Email</th>
                                                                                            <th scope="col">Student Status</th>
                                                                                            <th scope="col">Gender</th>
                                                                                            <th scope="col">Group</th>
                                                                                            <th scope="col">Action</th>
                                                                                        </tr>
                                                                                        </thead>
                                                                                        <tbody id="myTable">
                                                                                        <tr th:each="student : ${students}"
                                                                                            class="text-dark">
                                                                                            <td th:text="${student.firstName + ' ' + student.lastName}"></td>
                                                                                            <td th:text="${student.country.value}"></td>
                                                                                            <td th:text="${student.email}"></td>
                                                                                            <td th:text="${student.studentStatus.value}"></td>
                                                                                            <td th:text="${student.gender.value}"></td>
                                                                                            <input type="hidden"
                                                                                                   th:value="${student.id}"
                                                                                                   id="id" name="id"/>
                                                                                            <td class="dropdown">
                                                                                                <select th:field="*{groupDTO}"
                                                                                                        id="batch"
                                                                                                        class="form-control"
                                                                                                        required="required">
                                                                                                    <option th:each="group:${groups}"
                                                                                                            th:value="${group.id}"
                                                                                                            th:text="${group.name}"></option>
                                                                                                </select>
                                                                                            </td>
                                                                                            <td class="actions">
                                                                                                <button class="btn btn-info mb-2 mb-sm-0 mr-sm-2 text-dark"
                                                                                                        type="submit">
                                                                                                    Assign to Group
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>