<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head :: header"><title>Group Create</title></head>

<body>
<div class="dashboard-main-wrapper">
<div th:replace="/fragments/header :: header"></div>
<div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <div class="input-group row">
                        <div class="col-auto">
                            <form>
                                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                    <a id="batchCreateLink" class="btn bg-dark text-light mb-1"
                                       th:href="@{/groups/groupList/{batchid}(batchid=${batch.getId()})}">
                                        <i class="fa fa-list mr-1"></i>Group List</a>
                                </div>
                            </form>
                        </div>
                    </div><br>
                    <header class="panel-heading">
                        <h2 class="panel-title">Create New Group</h2>
                    </header>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <form class="needs-validation" novalidate
                                                      th:action="@{/groups/groupCreate/{batchId}(batchId=${batch.id})}"
                                                      th:method="post" th:object="${newGroup}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Batch Name</label>
                                                                    <input type="text" th:field="${batch.name}"
                                                                           class="form-control" required="required" aria-invalid="false" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Group Name</label>
                                                                    <input type="text" th:field="*{name}" placeholder="Group Name"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="cydeoMentor">Cydeo Mentor</label>
                                                                    <select id="cydeoMentor" class="form-control" th:field="*{cydeoMentor}" required>
                                                                        <option th:value="''" th:text="Select"></option>
                                                                        <option th:each= "cydeoMentor:${cydeoMentors}"
                                                                                th:value="${cydeoMentor.id}"
                                                                                th:text="${cydeoMentor.firstName}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="alumniMentor">Alumni Mentor</label>
                                                                    <select id="alumniMentor" class="form-control" th:field="*{alumniMentor}" required>
                                                                        <option th:value="''" th:text="Select"></option>
                                                                        <option th:each= "alumniMentor:${alumniMentors}"
                                                                                th:value="${alumniMentor.id}"
                                                                                th:text="${alumniMentor.firstName}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                        <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="save">Save
                                                        </button>
                                                        <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                                                type="reset">Cancel
                                                        </button>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>