<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head :: header"><title>Student Create</title></head>

<body>
<div class="dashboard-main-wrapper">
<div th:replace="/fragments/header :: header"></div>
<div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <div class="input-group row">
                        <div class="col-auto">
                            <form>
                                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                    <a id="studentListLink" class="btn bg-dark text-light mb-1"
                                       th:href="@{/users/studentList}"><i class="fa fa-list mr-1"></i>
                                        Student List</a>&nbsp&nbsp
                                </div>
                            </form>
                        </div>
                    </div><br>
                    <header class="panel-heading">
                        <h2 class="panel-title">Create Student</h2>
                    </header>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <form class="needs-validation" novalidate
                                                      th:action="@{/users/batchStudentCreate/{batchId}(batchId=${batchId})}"
                                                      th:method="post" th:object="${newUser}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>First Name</label>
                                                                    <input type="text" th:field="*{firstName}" placeholder="First Name"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Last Name</label>
                                                                    <input type="text" th:field="*{lastName}" placeholder="Last Name"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>E-Mail</label>
                                                                    <input type="text" th:field="*{email}" placeholder="E-Mail"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Phone</label>
                                                                    <input type="text" th:field="*{phone}" placeholder="Phone"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Birthday</label>
                                                                    <input type="date" th:text="*{birthday}" th:field="*{birthday}" placeholder="Birthday"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="country">Country</label>
                                                                    <select id="country" class="form-control"
                                                                            th:field="*{country}" required="required">
                                                                        <option th:value="''" th:text="Select"></option>
                                                                        <option th:each= "country:${countries}"
                                                                                th:value="${country}"
                                                                                th:text="${country.value}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Password</label>
                                                                    <input type="text" th:field="*{password}" placeholder="Password"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Confirm Password</label>
                                                                    <input type="text" th:field="*{confirmPassword}" placeholder="Confirm Password"
                                                                           class="form-control" required="required" aria-invalid="false">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="batch">Batch</label>
                                                                    <input id="batch" type="text" th:field="${batch.name}"
                                                                           class="form-control" required="required" aria-invalid="false" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="studentStatus">Student Status</label>
                                                                    <select id="studentStatus" class="form-control" th:field="*{studentStatus}" required="required">
                                                                        <option th:value="''" th:text="Select"></option>
                                                                        <option th:each= "studentStatus:${studentStatuses}"
                                                                                th:value="${studentStatus}"
                                                                                th:text="${studentStatus.value}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="form-group">
                                                                    <label for="country">Gender</label><br>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="option10" name="option10" class="custom-control-input"
                                                                               value="FEMALE" th:field="*{gender}" required>
                                                                        <label class="custom-control-label" for="option10">Female</label>
                                                                    </div>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="option12" name="option12" class="custom-control-input"
                                                                               value="MALE" th:field="*{gender}">
                                                                        <label class="custom-control-label" for="option12">Male</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                        <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="save">Save
                                                        </button>
                                                        <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                                                type="reset">Cancel
                                                        </button>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>