<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/fragments/head :: header"><title>Cydeo Mentor List</title></head>

<body>
<div class="dashboard-main-wrapper">
  <div th:replace="/fragments/header :: header"></div>
  <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <div class="ecommerce-widget">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="col-md-12">
                <div class="input-group row">
                  <div class="col-4 mr-auto">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                  </div>
                  <div class="col-auto">
                      <form>
                          <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                              <a id="batchCreateLink" class="btn bg-dark text-light mb-1"
                                 th:href="@{/users/userCreate}"><i class="fa fa-plus mr-1"></i>
                                  Create User</a>
                          </div>
                      </form>
                  </div>
                </div><br>
                <section class="panel">
                  <header class="panel-heading">
                    <h2 class="panel-title">User List</h2>
                  </header>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">Role</th>
                          <th scope="col">Name</th>
                          <th scope="col">Country</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Birthday</th>
                          <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr th:each="user : ${users}"
                            class="text-dark"
                            th:style="${user.userRole.value}=='Admin' ? 'background-color:#e6dec5':
                                     (${user.userRole.value}=='Instructor' ? 'background-color:#abd6fe':
                                     (${user.userRole.value}=='Cydeo Mentor' ? 'background-color:#d6feab':
                                     (${user.userRole.value}=='Alumni Mentor' ? 'background-color:#feabd6':
                                     'background-color:#d3abfe')))">
                          <td th:text="${user.userRole.value}"></td>
                          <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                          <td th:text="${user.country.value}"></td>
                          <td th:text="${user.gender.value}"></td>
                          <td th:text="${user.email}"></td>
                          <td th:text="${user.phone}"></td>
                          <td th:text="${user.birthday}"></td>
                          <td class="actions">
                              <form action="#" data-th-action="@{/users/userEditDelete/{id}(id=${user.getId()})}"
                                    method="post">
                                  <button class="btn btn-warning mb-2 mb-sm-0 mr-sm-2"
                                          type="submit" name="action" value="edit">Edit
                                  </button>
                                  <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                          type="submit" name="action" value="delete">Delete
                                  </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/fragments/footer :: footer"></div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>