<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<body>
<div th:fragment="header">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand"><img src="/images/CydeoLogoMini.jpg" height="45" alt="JSOFT Admin"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown connection">
                        <a class="nav-link" href="index.html">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="dropdown nav-item" data-menu="dropdown">
                        <a class="dropdown-toggle nav-link d-flex align-items-center" href="javascript:;" data-toggle="dropdown">
                            <i class="ft-activity" style="color: #00b3ff"></i>
                            <span data-i18n="Apps" class="person" sec:authentication="name"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item d-flex align-items-center" href="#" data-toggle="dropdown">
                                <i class="ft-archive" style="color: #00b3ff"></i>
                                <span data-i18n="Chat" style="color: #0e0c28">Account</span>
                                </a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item d-flex align-items-center" href="#" data-toggle="dropdown">
                                    <i class="ft-alert-circle" style="color: #00b3ff"></i>
                                    <span data-i18n="Task Board" style="color: #0e0c28">Settings</span>
                                </a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}" data-toggle="dropdown">
                                    <i class="ft-arrow-right submenu-icon" style="color: #00b3ff"></i>
                                    <span data-i18n="Task Board" style="color: #0e0c28">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>

</html>