<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/fragments/head :: header"><title>Lesson Add/Remove Instructor</title></head>

<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <header class="panel-heading">
                        <h2 class="panel-title">Add/Remove Instructor</h2>
                    </header>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                <form class="needs-validation" novalidate
                                                      th:action="@{/lessons/addRemoveInstructor/{id}(id=${lesson.getId()})}"
                                                      th:method="post" th:object="${newInstructor}">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Lesson Name</label>
                                                                    <input type="text" th:field="${lesson.name}" placeholder="Lesson Name"
                                                                           class="form-control" required="required" aria-invalid="false" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Instructors</label>
                                                                    <a type="text" th:text="${lesson.instructorList}"
                                                                       class="form-control" required="required" aria-invalid="false"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label for="instructors">Select Instructor</label>
                                                                    <select id="instructors" class="form-control" th:field="*{id}" required>
                                                                        <option th:each= "instructor:${instructors}"
                                                                                th:value="${instructor.id}"
                                                                                th:text="${instructor.firstName + ' ' + instructor.lastName}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                        <button class="btn btn-success mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="addInstructor">Add
                                                        </button>
                                                        <button class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                                                                type="submit" name="action" value="removeInstructor">Remove
                                                        </button>
                                                    </div>
                                                </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>