<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>
<div class="dashboard-main-wrapper">
  <div th:replace="/fragments/header :: header"></div>
  <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content">
        <div class="ecommerce-widget">
          <!-- ------------------------TABLE START----------------------------- -->
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="col-md-12">
                <div class="input-group row">
                  <div class="col-4 mr-auto">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                  </div>
                  <div class="col-auto">
                    <button id="createButton" type="button" class="btn">Create New Lesson</button><br>
                  </div>
                </div><br>
                <section class="panel">
                  <header class="panel-heading">
                    <h2 class="panel-title">Lesson List</h2>
                  </header>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">Batch</th>
                          <th scope="col">Name</th>
                          <th scope="col">Instructors</th>
                          <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr th:each="lesson: ${lessons}">
                          <td th:text="${lesson.batch.name}"></td>
                          <td th:text="${lesson.name}"></td>
                          <td th:text="${lesson.instru}"></td>
                          <td class="actions">
<!--                            <a th:href="@{/admin/show-admin/{id}(id=${admin.email})}" class="btn btn-facebook rounded-0">Show</a>-->
<!--                            <a th:href="@{/admin/update-admin/{id}(id=${admin.email})}"><button type="button" class="btn btn-warning btn-sm">Update</button></a>-->
<!--                            <a th:href="@{/student/delete-admin/{id}(id=${admin.email})}" class="delete-row"><button type="button" class="btn btn-secondary btn-sm">Delete</button></a>-->
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <!-- ------------------------TABLE END----------------------------- -->
        </div>
      </div>
    </div>
  </div>
  <div th:replace="/fragments/footer :: footer"></div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>

<!--<td th:text="${#temporals.format(project.startDate,'MM.dd.yyyy') + ' - ' + #temporals&ndash;&gt;-->
<!--.format(project.endDate,'MM.dd.yyyy')}"></td>-->