<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head :: header"><title>Lesson Add/Remove Instructor</title></head>

<body>
<div class="dashboard-main-wrapper">
<div th:replace="/fragments/header :: header"></div>
<div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <div class="input-group row">
                        <div class="col-auto">
                            <form>
                                <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-right">
                                    <a id="batchCreateLink" class="btn bg-dark text-light mb-1"
                                       th:href="@{/lessons/lessonList}"><i class="fa fa-list mr-1"></i>
                                        Lesson List</a>
                                </div>
                            </form>
                        </div>
                    </div><br>
                    <header class="panel-heading">
                        <h2 class="panel-title">Add/Remove Instructor</h2>
                    </header>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade mt-2 show active" id="account" role="tabpanel"
                                                 aria-labelledby="account-tab">
                                                    <div class="row">
                                                        <div class="col-12 col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Lesson Name</label>
                                                                    <input type="text" th:field="${lesson.name}" placeholder="Lesson Name"
                                                                           class="form-control" required="required" aria-invalid="false" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><br>
                                                    <section class="panel">
                                                        <header class="panel-heading">
                                                            <h2 class="panel-title">Instructor List</h2>
                                                        </header>
                                                        <div class="panel-body">
                                                            <div class="users-list-table">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="card">
                                                                            <div class="card-content fw-container">
                                                                                <div class="card-body fw-body">
                                                                                    <div class="table-responsive content demo-html">
                                                                                        <table id="example" class="table table-striped table-bordered file-export" style="width:100%">
                                                                                            <thead>
                                                                                            <tr>
                                                                                                <th scope="col">Instructor Name</th>
                                                                                                <th scope="col">Lessons</th>
                                                                                                <th scope="col">Add/Remove</th>
                                                                                            </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                            <tr th:each="instructor: ${instructorAndLessons.keySet()}" class="text-dark"
                                                                                                th:style="${instructorIdsOfLesson.contains(instructor.getId())} ? 'background-color:#d6feab':'background-color:#ebbec3'">
                                                                                                <td th:text="${instructor.firstName + ' ' + instructor.lastName}"></td>
                                                                                                <td th:text="${instructorAndLessons.get(instructor)}"></td>
                                                                                                <td class="actions">
                                                                                                    <form class="needs-validation" novalidate
                                                                                                        th:action="@{/lessons/addRemoveInstructor/{instructorId}/{lessonId}(instructorId=${instructor.getId()}, lessonId=${lesson.getId()})}"
                                                                                                        th:method="post">
                                                                                                        <button class="ft-minus btn-info bg-light-primary text-dark"
                                                                                                                type="submit" name="action" value="addInstructor"
                                                                                                                th:if="${!instructorIdsOfLesson.contains(instructor.getId())}">+ Add</button>
                                                                                                        <button class="ft-minus btn-danger bg-light-primary"
                                                                                                                type="submit" name="action" value="removeInstructor"
                                                                                                                th:if="${instructorIdsOfLesson.contains(instructor.getId())}">- Remove</button>
                                                                                                    </form>
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="/fragments/footer :: footer"></div>
<div th:replace="/fragments/javascript :: js"></div>
</body>

</html>